.modal {
    text-align: center;
    padding: 0!important;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        .modal-popup {
            padding: 16px 26px 26px 26px;
            margin-left:auto;
            margin-right:auto;
            box-shadow: 2px 0px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            background: #ffffff;
            overflow-y: auto;
            .popup-title {
                border-bottom: 1px solid #000;
                padding: 0 0 8px 0;
                font-size: 16px;
                color:#727272;
                span {
                    text-transform: uppercase;
                    color:#474747;
                    font-size: 18px;
                }
                p {
                    margin-bottom: 4px;
                    margin-top: 2px;
                }
                i {
                    cursor: pointer;
                    color: #000;
                    font-weight: bold;
                    margin-top: 3px;
                    &:hover {
                        color: #000;
                    }
                }
            }
            .popup-content {
                font-size: 16px;
                color: #727272;
                padding: 0;
                margin: 17px 0 0 0;
                p{
                    margin-bottom: 11px;
                    margin-top: -6px;
                }
                .add-new-popup-textbox{
                    width: 100%;
                    margin-bottom: 17px;
                }
                .table-responsive {
                    max-height: 300px;
                    overflow: auto;
                    margin-bottom:17px;
                    a{
                        color:#727272;
                        &:hover {
                            color: #2196F3;
                        }
                    }
                }
                .table-responsive {
                    margin-bottom:17px;
                    a{
                        color:#727272;
                        &:hover {
                            color: #2196F3;
                        }
                    }
                }
            }
            .popup-footer {
                border-top: 1px solid #000;
                padding: 17px 0 0 0;
                text-align: right;
                button {
                    margin: 0 0 0 6px;
                    font-size: 15px;
                    text-transform: uppercase;
                    &.cancel {
                        color:  #2196F3;
                        background: transparent;
                        border: 1px solid  #2196F3;
                        &:hover {
                            background: #f9f9f9;
                        }
                    }
                }
            }
        }
    }
}
