<div class="modal-backdrop fade in" [style.display]="showModal ? 'block' : 'none'"></div>
<div class="modal" tabindex="-1" role="dialog" style="display: block" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
        <div class="modal-popup">
            <div class="popup-title">
                <span>{{title}} </span>
                <i class="icon-cancel fr" data-dismiss="modal" aria-label="Close" (click)="cancelAction()"></i>
                <p *ngIf="subTitle">{{subTitle}}</p>
            </div>
            <ng-content></ng-content>
        </div>
    </div>
</div>
