//DIRECTIVES
$white: #ffffff;
$black: #000000;
$menunav: #1976D2;
$header: #f8f8f8;
$headtxt: #2196F3;
$aborder: #4d4d4d;
$secondarytxt: #9D9D9D;
$theadbg: #2196F3;
$tborder: #cfcfcf;
$troweven:#f8f8f8;
$trowhov: #e6f7fe;
$primarytxt: #727272;
$leftSectionbg: #303337;
$drafttxt: #f88017;
$btnhov: #f9f9f9;
$titleColor:#474747;
$buttonhover:#014c8c;
$backbtnclr: #13B6FF;