//DIRECTIVES
$white: #ffffff;
$black: #000000;
$menunav: #F57C00;
$header: #f8f8f8;
$headtxt: #FFC107;
$aborder: #4d4d4d; 
$secondarytxt: #9D9D9D;
$theadbg: #FF9800;
$tborder: #cfcfcf;
$troweven:#f8f8f8;
$trowhov: #e6f7fe;
$primarytxt: #727272;
$leftSectionbg: #303337;
$drafttxt: #f88017;
$btnhov: #f3f3f3;
$titleColor:#474747;
$buttonhover:#014c8c;
$backbtnclr: #ffa828;